<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" >
</head>
<body>
    <div th:if="${param.logout}"> You have been logged out. </div>
    <div class="loginpanel" th:classappend="param.error ? witherrormessage : noerror">
        <h1>Sign In</h1>
        <div class="errormessage" th:if="${param.error}">用户名或密码错误</div>
        <form th:action="@{/login}" method="post">
            <div class="username"><label><span>用户名：</span><input type="text" name="username" autofocus="autofocus" placeholder="用户名" /></label></div>
            <div class="password"><label><span>密　码：</span><input type="password" name="password" placeholder="密码"/></label></div>
            <div class="button"><input type="submit" value="登录"/></div>
        </form>
    </div>
</body>
</html>