<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<head>
  <title>USER</title>
</head>
<div>
  <h1>USER</h1>

  <ul th:each="item : ${list}">
    <li th:text="${item}">item</li>
  </ul>

  <ul>
    <li><a href="/user">/user页面，所有登录用户都可访问</a></a></li>
    <li sec:authorize="hasRole('ADMIN')"><a href="/admin">/admin页面，只有登录名为admin的用户才可访问</a></a></li>
  </ul>


  <div sec:authorize="hasRole('USER')">此段内容具有USER角色的用户可见。</div>
  <div sec:authorize="hasRole('ADMIN')">此段内容具有USER角色的用户可见。</div>

  <div sec:authorize="hasAuthority('edit')">此段内容具有edit权限的用户可见。</div>
  <div sec:authorize="hasAuthority('delete')">此段内容具有delete权限的用户可见。</div>

  <div sec:authorize="isAuthenticated()">
    此段内容所有登录用户均可见
  </div>


</div>
</body>
</html>
